$font_main: Open Sans, sans-serif;

$color_background: #fff;
$goldColor: #E1B87F;
$whiteColor: #FFF;
$redColor: #FF6F61;
$mainColor: #2D2926;

$transitionHover: .3s;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;

$radius: 5px;

$defaultSize: 25px;

